.title{
    text-align: center;
    color: rgb(202, 164, 164);
    font-size: 36px;
    font-weight: 700;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 45px;
    margin-top: 60px;
}